

/* Header  */ 

.headerSub {
    font-family: 'Baloo Chettan', cursive;
    letter-spacing: 3px;

}

.headerMain {
    font-family: 'Baloo Chettan', cursive;
    color: rgb(226, 222, 204);
}

.header-content-inner {
    background-color: rgba(193, 191, 191, .8);
    border-radius: 25px;
    
}

.headerButton {
    margin-bottom: 2%;
}

.navColor {
    color: white;
}

.headerText {
    color: white;
}

.headerDownArrow {
    float: bottom;
    color: rgb(226, 222, 204);
}
