<header>
    <div class="header-content">
        <div class="header-content-inner" >
            <h1 class="headerMain">New World Expeditions</h1>
            <h3 class="headerSub">Adventures that Last a Lifetime.</h3>
            <hr>
            <p class="headerText">Experince the Beauty of Africa on one of our 5-Star tours today, and make memories that will live on forever. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll headerButton">Start Here</a>
        </div>
        <div class="row">
         <i class="fa fa-4x fa-sort-desc headerDownArrow" ></i>
        </div>
        <div class="row">
         <i class="fa fa-2x fa-sort-desc headerDownArrow" ></i>
        </div>
    </div>
    
</header>
